body{
    background-image: url(/assets/images/backgroud.jpg);
    background-size: cover;    
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
