.imagen-header{
    max-height: 150px;
    width: auto;
}
nav{
    background-color: rgb(116, 185, 255);
}
nav li{
transition: all 1000ms ease-out;
}
nav li:hover{
    background-color: rgb(9, 132, 227);    
}
.sliderstyle{
    height: 300px;
}
.p-viajes{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'BreePeru-Bold';
    font-size: 55px;
    font-weight: bold;
    color: #636e72;
}
.p-experiencias{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'BreePeru-Bold';
    font-size: 45px;
    font-weight: bold;
    color: #636e72;
}
.mostrador{
    width: 250px;
    padding: 0;
    margin: 5px;
}
.carta{
    width: 250px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
}
.carta img{
    height: 100%;
    width: 250px;
    background-size: cover;
    object-fit: cover;
    border-radius: 5%;    
    transition: all 500ms;
}
.selector{
    height: 720px;
    width: 250px;
    border-radius: 5%;    
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);    
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0,0,0, 0.7),rgba(255, 255, 255, 0));        
}
.contenedorprincipal{
    transition: all 500ms ease-in-out;
}
.carta h4{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 35px;
}
.carta p{
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
}
.carta ul{
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    text-align: center;    
    margin-bottom: 0rem;
    padding-left: 0rem;
    list-style: none;
}
.carta ul li{
    margin-bottom: 10px;
    text-align: center;
}
.carta ul li{
    font-size: 15px;
}
.carta h4, .carta p, .carta ul{
    transition: all 500ms ease-in-out;
}
.selector{
    transition: all 500ms ease-in-out;
}
.selector:hover{
    top: 0%;
}
.mostrador:hover > .carta h4{
    top: 15%;
    color: white;
}
.mostrador:hover > .carta p{
    top: 35%;
    color: white;
}
.mostrador:hover > .carta ul{
    top: 65%;
    color: white;
}
.mostrador:hover > .carta img{
    transform: scale(1.05);
}

/*experiencias*/

.mostrador1{    
padding: 0;
margin: 5px;
height: 350px;
position: relative;
overflow: hidden;
}
.experiencia1{
    width: 100%;
    height: 350px;
    background-size: cover;
    object-fit: cover;
    transition: all 500ms ease-in;
}
.blurmostrador{
    height: 710px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0,0,0, 0.7),rgba(255, 255, 255, 0));   
    position: absolute;
    top: 0rem;
    transition: all 500ms ease-in;
}
.titulo1{
    position: absolute;
    bottom: 0rem;
    color: white;
    padding-left: 10px;
    font-size: 25px;
    transition: all 500ms ease-in;
}
.descripcion1{
    position: absolute;
    top: 100%;
    color: white;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    transition: all 500ms ease-in;
}
.mostrador1:hover > .experiencia1{
    transform: scale(1.05);
}
.mostrador1:hover > .titulo1{
    bottom: 65%;
}
.mostrador1:hover > .descripcion1{
    top: 35%;
}
.mostrador1:hover > .blurmostrador{
    top: -100%;
}
@media (max-width: 992px){
    .mostrador1{        
        margin: 0px;
        margin-bottom: 5px;
        }
}
@media (max-width: 570px){
    .mostrador1 p{
        font-size: 20px;
    }
}
@media (max-width: 470px){
    .mostrador1 p{
        font-size: 15px;
    }
}
/*gastronomia*/
.carousel {
    height: 80vh;
    width: auto;
    margin-bottom: 10px;
}
.carousel img{
    height: 80vh;
    background-size: cover;
    object-fit: cover;
    padding: 5px;
}
/*Footer*/
footer{
    width: 100%;
}
footer img{
    height: 40px;
    transition: all 500ms ease-out;
    padding: 5px;
    border-radius: 10px;
}
footer img:hover{
    background-color: white;
}

/*
  
  font-family: 'Nunito', sans-serif;
  
  */