.imagen-header{
    max-height: 150px;
    width: auto;
}
nav{
    background-color: rgb(116, 185, 255);
}
nav li{
transition: all 1000ms ease-out;
}
nav li:hover{
    background-color: rgb(9, 132, 227);    
}
.sliderstyle{
    height: 300px;
}
.p-viajes{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'BreePeru-Bold';
    font-size: 55px;
    font-weight: bold;
    color: #636e72;
}
.carta{
    width: 100%;
    height: 350px;
    position: relative;
    
}
.carta img{
    height: 100%;
    width: 250px;
    background-size: cover;
    object-fit: cover;
    border-radius: 5%;    
}
.selector{
    height: 350px;
    width: 250px;
    border-radius: 5%;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}
.cartablur1{
    height: 350px;
    width: 250px;
    border-radius: 5%;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    background-color: rgba(0, 0, 255, 1);
}
.cartablur2{
    height: 350px;
    width: 250px;
    border-radius: 5%;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    background-color: rgba(102, 51, 153, 1);
}
.carta h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cartablur2:hover  .cartablur2 h4{
    color: skyblue;
}
/*
  
  font-family: 'Nunito', sans-serif;
  
  */