.imagen-header{
    max-height: 150px;
    width: auto;
}
nav{
    background-color: rgb(116, 185, 255);
}
nav li{
transition: all 1000ms ease-out;
}
nav li:hover{
    background-color: rgb(9, 132, 227);    
}
.sliderstyle{
    height: 300px;
}
.p-viajes{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'BreePeru-Bold';
    font-size: 55px;
    font-weight: bold;
    color: #636e72;
}
.carta{
    width: 100%;
    height: 350px;
    position: relative;
}
.carta img{
    height: 100%;
    width: 250px;
    background-size: cover;
    object-fit: cover;
    border-radius: 5%;    
}
.cartablur{
    height: 350px;
    width: 250px;
    border-radius: 5%;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(rgba(255, 255, 255, 0) ,rgba(0, 0, 0, 0.8) );
    transition: all 1000ms ease-out;
}
.cartablur:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
}
/*
  
  font-family: 'Nunito', sans-serif;
  
  */